name: sendlog_example
description: Demonstrates how to use the send_log plugin.
version: 1.1.2+4
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  send_log:
    path: ../
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true