<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="hu.co.tramontana.sendlog">

  <application>
    <provider
      android:name=".SendLogFileProvider"
      android:authorities="${applicationId}.logprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/sendlog_paths" />
    </provider>
  </application>
</manifest>